# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3
.venv/
venv/
env/

# -----------------------------
# Node / Frontend
# -----------------------------
node_modules/
.next/
dist/
frontend/dist/

# -----------------------------
# Environment variables
# -----------------------------
.env
.env.local

# -----------------------------
# Build / Packaging
# -----------------------------
*.egg-info/
.eggs/
build/
dist/

# -----------------------------
# Logs
# -----------------------------
*.log
npm-debug.log*

# -----------------------------
# IDE / OS
# -----------------------------
.idea/
.vscode/
.DS_Store
Thumbs.db